body {
    padding-top: 10px;
    background-color: #F5F5F5;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

.mapTitle {
    text-align: center;
    color: white;
    font-size: large;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}