<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="height:100%; background-color: khaki">
    <input type = "text" placeholder="Search Restaurant" style="width:100%" ng-model="filter" ng-change="updateMarkers()">
    <ul class=" nav nav-pills nav-stacked" style="overflow-y: scroll; height:500px;">
        <li role="presentation" ng-repeat="place in (filteredPlaces = (places | filter:filter))">
            <a href="#">{{place}} </a>
        </li>
    </ul>
</div>
</body>
</html>